*.pyc
*.gitignore
*.cpp
*.ffs_gui
*.ffs_db
__Trash
tests
__Reference
create_data.py
/zmlx/Manual.docx
/zmlx/exts/LinuxBuild.docx
/zmlx/demo/debugging
/zmlx/demo/frac
/zmlx/config/sand.docx
/update_dll.py
/zmlx/exts/fractal.py
/zmlx/exts/fractal.dll
/zmlx/scen/frac
/zmlx/scen/rkt_tests
/.idea
/zmlx/exts/dsmc.py
/zmlx/exts/build.sh
/zmlx/exts/beta.dll
/zmlx/exts/frac.dll
zmlx/scen/rkt/
zmlx/exts/build.bat
